.app-container{
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 75vh;
    overflow: hidden;
    border: yellow 2px solid;
}

.pokemon-details-container {
    height: 500px;
    min-width: 300px;
    padding: 10px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: yellow 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;

}
.details{
    margin: 10px;
    padding: 10px;
    border: yellow 2px solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);

}

.stats{
    margin: 10px;
    padding: 10px;
    border: yellow 2px solid;
    border-radius: 10px;
    min-height: 250px;
    background-color: rgba(255, 255, 255, 0.6);

}

.pokemons-container{
    height:500px;
    overflow: scroll;
    border: yellow 2px solid;

}


/* For Webkit-based browsers (Chrome, Safari) */
.pokemons-container::-webkit-scrollbar {
    width: 0.2em; /* Set the width of the scrollbar to a very thin value */
}

.pokemons-container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set scrollbar thumb color to transparent */
}
.pokemon-card{
    margin: 10px;
    padding: 10px;
    width: 60%;
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /*border: blue 2px solid;*/
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.pokemon-card:hover{
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-size: 24px;

}

.pokemon-image{

}
.pokemon-name{
    margin: auto;
    padding: 10px;
}
.pokemon-id{
    margin: auto;
    padding: 10px;
}

.load-more{
    background-color: rgba(255, 255, 255, 0.5);
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded borders */
    padding: 10px 20px; /* Add padding to the button */
    cursor: pointer; /* Add cursor pointer on hover */
    transition: all 0.3s ease-in-out; /* Add transition effect */
}
.load-more:hover{
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}



