.app-container{
    border: yellow 2px solid;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    overflow: hidden;
    height: 80vh;
}

.pokemon-details-container {
    border: #ccc 1px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 500px;
    min-width: 300px;
    padding: 10px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;

}
.pokemons-container{
    height:550px;
    border: red 2px solid;
    overflow: auto;
}


/* For Webkit-based browsers (Chrome, Safari) */
.pokemons-container::-webkit-scrollbar {
    width: 0.2em; /* Set the width of the scrollbar to a very thin value */
}

.pokemons-container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set scrollbar thumb color to transparent */
}
.pokemon-card{

    margin: 10px;
    padding: 10px;
    width: 60%;
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /*border: blue 2px solid;*/
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.pokemon-image{
    border: pink 2px solid;
    margin: auto;

}
.pokemon-name{
    border: pink 2px solid;
    margin: auto;
    padding: 10px;
}
.pokemon-id{
    border: pink 2px solid;
    margin: auto;
    padding: 10px;

}



