body {
  background-image: url("images/pokemon_wallpaper.jpg");
  background-size: cover;
  background-repeat: repeat;
  font-family: Pokemon, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
}

@font-face {
    font-family: 'Pokemon';
    src: url('fonts/Pokemon Solid.ttf');
    font-weight: bold;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
